/* common style */
/* google-fonts */
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* container */
.container {
  max-width: 1280px;
  margin: auto;
}
.bg-color {
  background: #f5f8ff;
}
.text-center {
  text-align: center;
}
.primary-btn {
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 19px;
  padding: 20px 50px;
  background-color: #e95a08;
  border: none;
  cursor: pointer;
}
img {
  width: 100%;
}
/* custom style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
}
.nav-links li a {
  text-decoration: none;
}
a {
  color: #8987a1;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 24px;
  transition: 0.5s ease;
}
.active {
  color: black;
  font-weight: 700;
}
a:hover,
.cart-amount:hover {
  color: #252432;
  cursor: pointer;
}
.cart {
  color: #000000;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.2rem;
  margin-left: 40px;
}
.cart-icon:hover {
  transform: scale(1.5);
  color: #8987a1;
  transition: 0.5s ease;
}
/* banner */
.banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
  padding: 12px 20px;
}
.banner-left {
  flex: 1;
}
.banner-left h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 89px;
  text-transform: uppercase;
}
.banner-left span,
.about-card span,
.latest-deal-section span {
  color: #e95a08;
}
.banner-left p {
  color: #00000080;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 27px;
  margin: 10px 0;
  width: 70%;
}
.banner-right {
  flex: 1;
}
.banner-right {
  width: 100%;
}
/* Plants Section style */
.card-details,
.latest-deal-section,
.join-section {
  margin: 100px auto;
}
.about-card,
.latest-deal-section-content {
  margin-bottom: 50px;
}
.about-card h2,
.latest-deal-section-content h2,
.join-section h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 15px;
}
.about-card p,
.latest-deal-section-content p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 27px;
  /* padding: 15px 140px; */
}
/* cards style */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
.card h4 {
  font-weight: bold;
  margin-top: 20px;
}
.card .primary-btn {
  width: 100%;
  margin: 30px 0;
}
/*  Plants Lover Section  */
.plants-lover {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 60px;
  margin: 100px auto;
}
.plants-lover-left {
  position: relative;
  flex: 1.5;
}
.plants-lover-left .main-image {
  border-radius: 10px;
  display: block;
}
.plants-lover-left .badge-image {
  position: absolute;
  top: -15%;
  right: -15%;
  width: 250px;
  z-index: 2;
}
.plants-lover-right {
  flex: 2;
}
.plants-lover-right h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 20px;
}
.plants-lover-right ul {
  padding: 0 30px;
}
.plants-lover-right ul li {
  color: #00000080;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 20px;
}
/* Latest Deal Section style */
.latest-deal-section-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  border-radius: 10px;
  height: 500px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.box h4 {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 27px;
}
.right h4 {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 50px;
}
.box a {
  color: white;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
  transition: 0.3s;
}
.box a:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px 15px;
}
.left-top {
  background: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-bloom.png") no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: 1;
  grid-row: 1;
}
.left-bottom {
  background: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-ana.png") no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: 1;
  grid-row: 2;
}
.right {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/deal-zabo.png") no-repeat;
  background-size: cover;
  background-position: center;
  grid-row: 1 / span 2;
}
/* Join Section style */
.join-section {
  background: linear-gradient(#07334f66, #07334f66),
    url(../assets/news-letter-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-section h3 {
  color: white;
}
.form-group {
  display: flex;
  justify-content: center;
  width: 100%;
}
.join-section input {
  width: 640px;
  padding: 15px 20px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  /* flex: 1; */
  font-size: 16px;
}
/* footer */
.footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
  padding: 50px 0;
}
.sec-1 img {
  width: 120px;
  height: auto;
}
.sec-1 p {
  max-width: 330px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
  margin: 16px 0;
}
.sec-2,
.sec-3 {
  color: rgb(107, 114, 128);
}
.sec-2 li,
.sec-3 li {
  list-style: none;
  transition: all 0.3s;
}
.sec-2 li a,
.sec-3 li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.3s;
}
.sec-2 li:hover,
.sec-3 li:hover {
  transform: translateX(5px);
}
.sec-2 li a:hover,
.sec-3 li a:hover {
  color: #e95a08;
}
.footer-icon {
  display: flex;
  width: 30px;
  height: 30px;
}
.footer-icon img {
  margin-right: 20px;
  transition: all 0.2s;
  cursor: pointer;
}
.footer-icon img:hover {
  transform: translateY(-5px);
}

/* Responsive Design - Media Queries */
/* mobile */
@media only screen and (max-width: 576px) {
  .container {
    margin: 10px;
  }
  /* navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
  .nav-links {
    display: none;
  }
  .logo img {
    height: 40px;
  }
  .cart {
    display: flex;
    align-items: center;
    margin-left: 0;
  }

  /* banner */
  .banner {
    flex-direction: column-reverse;
    margin-bottom: 60px;
  }
  .banner-left h2,
  .about-card h2,
  .plants-lover-right h2,
  .latest-deal-section-content h2,
  .join-section h3 {
    font-size: 1.5rem;
    line-height: 40px;
    margin: 15px 0;
  }
  .banner-left p {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
  }
  /* Plants Section */
  .about-card p,
  .plants-lover-right ul li,
  .latest-deal-section-content p {
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    margin: 10px 0;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    font-size: 1rem;
    line-height: 150%;
  }
  .card h4 {
    margin-top: 10px;
  }
  .primary-btn {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 20px 0;
  }
  /* plants lover */
  .plants-lover {
    flex-direction: column;
    gap: 5px;
  }
  .plants-lover-left,
  .plants-lover-right {
    width: 100%;
  }
  .plants-lover-right h2 .break,
  .about-card p .break,
  .latest-deal-section-content p .break {
    display: none;
  }
  .badge-image {
    display: none;
  }
  /*Challenges Part
  Latest Deal Section*/
  .latest-deal-section-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .box {
    width: 100%;
    height: 300px;
  }
  .left-top,
  .left-bottom,
  .right {
    grid-column: auto;
    grid-row: auto;
  }
  .right h4 {
    font-size: 1.4rem;
    line-height: 27px;
  }
  /* Join Section */
  .join-section {
    height: 300px;
    margin: 50px 0;
  }
  .join-section .form-group {
    flex-direction: column;
    align-items: center;
  }
  .join-section input {
    width: 100%;
    padding: 10px 15px;
  }
  .join-section .primary-btn {
    width: 50%;
  }
  /* footer */
  .footer {
    grid-template-columns: 1fr;
    gap: 10px;
    padding-top: 0;
  }
  .sec-1 img {
    width: 180px;
    height: 100px;
  }
}
