/* common style */
/* google-fonts */
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* container */
.container {
  max-width: 1280px;
  margin: auto;
}
.bg-color {
  background: #f5f8ff;
}
.text-center {
  text-align: center;
}
.primary-btn {
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 19px;
  padding: 20px 50px;
  background-color: #e95a08;
  border: none;
}
img {
  width: 100%;
}
/* custom style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
}
.nav-links li a {
  text-decoration: none;
}
a {
  color: #8987a1;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 24px;
  transition: 0.5s ease;
}
.active {
  color: black;
  font-weight: 700;
  line-height: 24px;
}
a:hover, .cart-amount:hover {
  color: #252432;
  cursor: pointer;
}
.cart {
  color: #000000;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.2rem;
  margin-left: 40px;
}
.cart-icon:hover {
  transform: scale(1.5);
  color: #8987a1;
  transition: 0.5s ease;
}
/* banner */
.banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
  padding: 12px 20px;
}
.banner-left {
  flex: 1;
}
.banner-left h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 89px;
  text-transform: uppercase;
}
.banner-left span,
.about-card span {
  color: #e95a08;
}
.banner-left p {
  color: #00000080;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 27px;
  margin: 10px 0;
  width: 70%;
}
.banner-right {
  flex: 1;
}
.banner-right {
  width: 100%;
}
/* card style */

.about-card {
  margin-bottom: 50px;
}
.about-card h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 68px;
}
.about-card p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 27px;
  padding: 15px 140px;
}
/* cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
.card h4 {
  font-weight: bold;
  margin-top: 20px;
}
.card .primary-btn {
  width: 100%;
  margin: 30px 0;
}

/* Responsive Design - Media Queries */
/* mobile */
@media only screen and (max-width: 576px) {
  .container {
    margin: 10px;
  }
  /* navbar */
  .nav-links {
    display: none;
    flex-direction: column-reverse;
  }
  .logo img {
    height: 40px;
  }
  .cart {
    font-size: 1rem;
  }

  /* banner */
  .banner {
    flex-direction: column-reverse;
    margin-bottom: 60px;
  }
  .banner-left h2,
  .about-card h2 {
    font-size: 2rem;
    line-height: 40px;
    margin: 15px 0;
  }
  .banner-left p {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
  }
  .about-card p {
    font-size: 14px;
    line-height: 17px;
    padding: 0;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    font-size: 1rem;
    line-height: 150%;  
  }
  .card h4{
    margin-top: 10px;
  }
  .card .primary-btn {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 20px 0;
  }
}
